:root {
    --text-color: #757575;
    --title-color: #212121;
    --accent-color-1: #39ff14;
    --accent-color-2: #faed27;
    --accent-color-3: #ff073a;
    --accent-color-4: #4666ff;

    --background-color-additional: #ffffff;
    --background-color: #2f303a;
    --border-color-section: #ececec;
    --border-color-element: #eeeeee;
    --background-color-section: #f5f4fa;
    --hover-background-color: #188ce8;
  }